.vs/Mini Project/v17/Browse.VC.db
.vs/Mini Project/v17/DocumentLayout.json
.vs/Mini Project/v17/ipch/AutoPCH/2568d7c3bd8a9990
.vs/Mini Project/v17/ipch/AutoPCH
.vs/Mini Project/FileContentIndex
Mini Project/x64
x64
.vs/Mini Project/v17/Solution.VC.db
Mini Project/bin
Mini Project/intermediate
